* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: #d5e1ef;
}

h1,
p {
  text-align: center;
}

img {
  border-radius: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 16px;
  border-radius: 16px;

  background-color: #ffffff;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
